/*
font-family: 'Montserrat', sans-serif;
font-family: 'Permanent Marker', cursive;
*/

body {
  margin: 0;
  background-color: #f7eea6;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 4rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  background-color: white;
  border-radius: 5px;
  width: 700px;
}

.input-box {
  height: 40px;
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
  margin: auto;
}

::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  color: gray;
  text-indent: 0.5em;
}
.list-container {
  display: flex;
}

.submitButton {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #ffdb70;
  height: 40px;
  width: 305px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}

li {
  list-style-type: none;
  font-size: 1.5rem;
  padding: 5px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.done-box{
  display: inline-block;
}

.empty-square {
  color: #d3d3d3;
}

.check-square {
  color: #6bc965;
}
