/*
font-family: 'Montserrat', sans-serif;
font-family: 'Permanent Marker', cursive;
*/

body {
  margin: 0;
  background-color: #f7eea6;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 4rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
}
